{% extends 'layout.html' %}
 {% load static %}
{% block title %}DashBoard{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/C.css' %}">


<br><br><br>
{% if post.is_contest %}
           
{% else %}
             
{% endif %}
 <div class="mbr-overlay" style=" opacity: 0.3; background-color: rgb(0, 0, 0);"></div>
    {% for post in posts %}
    {% if post.author %}
<div class="container">    
    <div class="media-container-row">
        <div class="blog-con">
            
                <a href="/posts/details/{{post.id}}"><h2 style="font-family:'Arial, Helvetica, sans-serif';font-size: 30px;" class="blog-post-title">{{post.title}}</h2></a>
                <img style="border-radius: 50%;" src="https://pikmail.herokuapp.com/{{post.author.email}}?size=35" aria-hidden="true">
                <b style="color:red;"><a href="/profile/{{post.author}}/">{{post.author}}</a></b>&nbsp;&nbsp;<small>{{post.created_date}}</small>
                <hr style="border: 1px solid #dddddd; margin: 0px;" >
                <br>
            
                <ul id="pq"><font style="font-family:'Arial, Helvetica, sans-serif'; font-size: 19px;"><p>{{post.text|linebreaksbr}}</p></font>&emsp;{% if post.is_contest %}
                <b style="color: #3366FF"><a href="{{post.link}}">{{post.link}}</a></b>
                {% endif %}</ul>
                <br><br>
       </div>
    </div>
</div>
<br><br><br>
    {% endif %}
    {% endfor %}

    

{% if user.is_teacher %}    
<div class="mybutton">
    <a href="./new/"><button type="button" class="btn btn-circle btn-lg" style="position: relative;"><i class="glyphicon glyphicon-book"></i></button></a>
</div>
{% endif %}

{% endblock %}

