{% extends 'layout.html' %}

{% block title %}Change Password{% endblock %}
{% load crispy_forms_tags %}
 {% block content %}
  <h2>Change Password</h2>

  <form method="post" novalidate >

    {% csrf_token %}
   
    {{ form|crispy }}

    {% if form.errors %}
    <h5 style="color:purple"> This fields are required :</h5>
     {% for error in form.errors %}
     <pre style="color: red ; background-color:#e0e0e0;">{{ error }}</pre>
     {% endfor %}
    {% endif %}

    <input type="submit" class="btn btn-success" value="Change">
  </form>
<br><br><br><br>
{% endblock %}