{% extends 'layout.html' %}

{% block title %}Teachers{% endblock %}

 {% block content %}
<style>

th,td,tr{
    border: 1px solid  #dddddd;
    text-align: left;
}
.btn-teacher:hover
{
color: black;
}

</style>
<h2 style="margin: 0px; text-align: center;"><b>Teachers Profile</b></h2>
  <a style="background-color: #555; " href="{% url 'train' %}" class="btn btn-teacher btn-lg" role="button">Tips</a>
  <a style="background-color: #555; " href="{% url 'teachers' %}" class="btn btn-teacher btn-lg" role="button">Teachers</a>
<br>
<br>
<div class="blog-con"> 
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mobile</th>
        <th>Email</th>
      </tr>
    </thead>
     <tbody>
    {% for post in posts %}
      <tr>
        <td>
          <a href="/profile/{{post.username}}">{{post.first_name}} {{post.last_name}}</a>
        </td>
        <td>{{post.mobile_No}}</td>
        <td>{{post.email}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br><br><br><br>
{% endblock %}